<div class="result">
  <h2>Title: <%= @movie_title %></h2>
  <p><img src="<%= @movie_poster%>"></p>
  <p>Year: <%= @year %></p>
  <p>Genre: <%= @genre%></p>
  <p>Duration: <%= @duration %></p>
  <p>Actors: <%= @actors%></p>
  <p id="plot">Plot: <%= @description%></p>
</div>
